.draggable {
  cursor: move;
}  

#wrapper {
    width: 900px;
    overflow: hidden; /* add this to contain floated children */
}

#div1 {
  width:400px;
  height:350px;
  padding:10px;
  border:2px solid #aaaaaa;
  float:left;
}

#div2 {
  width:400px;
  height:350px;
  padding:10px;
  border:2px solid #aaaaaa;
  overflow: hidden;
  float: right;
}

#like {
  width:400px;
  padding:10px;
  float:left;
  text-align: center;
}

#dislike {
  width:400px;
  padding:10px;
  float: right;
  text-align: center;
}

#reload {
  width:800px;
  height: 50px;
  padding:10px;
  float: left;
}

#reload.input {
  display: center;
}

