svg{
  width: 800px;
  height: 500px;
}

#stoplight{
  fill: black;
}

#redlight{
  fill: red;
  opacity: 0.5;
}

#yellowlight{
  fill: yellow;
  opacity: 0.5;
}

#greenlight {
  fill: green;
  opacity: 0.5;
}

#redbutton {
  cursor: pointer;
}

#yellowbutton {
  cursor: pointer;
}

#greenbutton {
  cursor: pointer;
}